[Unit]
Description=Remote Shutdown Listener
After=network-online.target setup.service
Requires=setup.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/kenwood-sound/kenwood-sound.env
Environment=PORT=5000
ExecStart=/usr/local/bin/shutdown-listener.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
