[Unit]
Description=Librespot
After=network-online.target setup.service
Requires=setup.service

[Service]
User=librespot
PermissionsStartOnly=true
Environment=HOME=/var/lib/librespot
ExecStartPre=/bin/bash -c 'if [ -e /tmp/librespotfifo ] && [ ! -p /tmp/librespotfifo ]; then rm -f /tmp/librespotfifo; fi; if [ ! -p /tmp/librespotfifo ]; then mkfifo /tmp/librespotfifo; fi; chown librespot:librespot /tmp/librespotfifo'
ExecStart=/usr/local/bin/librespot
Restart=always

[Install]
WantedBy=multi-user.target
