[Unit]
Description=Librespot
After=network-online.target setup.service
Requires=setup.service

[Service]
User=librespot
Environment=HOME=/var/lib/librespot
ExecStart=/usr/local/bin/librespot
Restart=always

[Install]
WantedBy=multi-user.target
