[Unit]
Description=Audio Device Initializer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/audio-init.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
