[Unit]
Description=Shairport Sync (AirPlay)
After=network-online.target setup.service
Requires=setup.service

[Service]
User=shairport-sync
Group=audio
ExecStart=/usr/bin/shairport-sync -c /etc/shairport-sync.conf
Restart=always

[Install]
WantedBy=multi-user.target
