[Unit]
Description=Snapclient
After=network-online.target apply-config.service
Requires=apply-config.service

[Service]
User=snapclient
Group=audio
EnvironmentFile=/etc/kenwood-sound/kenwood-sound.env
ExecStart=/bin/sh -c 'SYSTEM_NAME="$DEVICE_NAME" exec /usr/bin/snapclient -h "$SNAP_HOST" -s "$SNAP_SOUNDCARD" --hostID "$DEVICE_NAME"'
Restart=always

[Install]
WantedBy=multi-user.target
