[Unit]
Description=Snapserver
After=network-online.target setup.service
Requires=setup.service

[Service]
User=snapserver
Group=audio
WorkingDirectory=/var/lib/snapserver
Environment=HOME=/var/lib/snapserver
EnvironmentFile=/etc/kenwood-sound/kenwood-sound.env
ExecStart=/usr/bin/snapserver --config /etc/snapserver.conf
Restart=always

[Install]
WantedBy=multi-user.target
